.button {
  padding: 0 45px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: 28px;
  color: #fff;
  background-color: #0096da;
  cursor: pointer;

  &:hover,
  &_hover {
    background-color: #0081bc;
  }

  &:active,
  &_active {
    background-color: #015d87;
  }

  &_disabled,
  &.disabled {
    background-color: #edeeef !important;
    cursor: default;
    color: #b8bed8;
  }
}

.tab-header-row {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.tab-header {
  color: #8288a2;
  background: #edeeef;
  cursor: pointer;
  padding: 0 32px;
  height: 64px;
  display: flex;
  align-items: center;

  &.desktop {
    position: relative;

    &::after {
      content: ' ';
      position: absolute;
      left: 100%;
      border-style: solid;
      border-color: transparent transparent transparent #edeeef;
      border-width: 64px 0 0 40px;
      width: 0;
    }

    &.active {
      &::after {
        border-color: transparent transparent transparent #fff;
      }
    }
  }
}

.tab-header_mobile {
  color: #8288a2;
  margin-top: -1px;
  background: #fff;
  cursor: pointer;
  padding: 0 16px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid #dadef0;
  border-width: 1px 0 1px 0;

  &::after {
    content: '';
    width: 6px;
    height: 6px;
    border: solid #0096da;
    border-width: 1px 1px 0 0;
    transform: rotate(135deg);
    transition: all 0.4s;
  }

  &.active {
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.tab-header,
.tab-header_mobile {
  &:hover,
  &_hover {
    color: #0096da;
  }

  &.active {
    color: #0096da;
    background: #fff;
    z-index: 10;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}


.tab-content {
  background-color: #fff;

  &.desktop {
    padding: 32px;
  }

  &.mobile {
    padding: 16px;
  }
}

$sides: right, left, top, bottom;

@each $side in $sides {
  .margin_#{$side} {
    margin-#{$side}: 16px;
  }
}
